@model HistoryDataModel

@inject IViewLocalizer _localizer;

<div class="row justify-content-center">
    <div class="col col-md-8 py-3 position-relative d-flex justify-content-center bg-body-tertiary border-start border-end border-bottom">
        <canvas id="historyChartCanvas"></canvas>
        @if (Model.HistoryData == null || !Model.HistoryData.Any())
        {
            <span class="position-absolute align-self-center">@_localizer[Resources.Views.Data._HistoryChartPartial.NoData]</span>
        }
    </div>
</div>
@if (Model.DeltaAnalysis != null)
{
    foreach (Models.DeltaAnalysis.IDeltaAnalysis deltaAnalysis in Model.DeltaAnalysis)
    {
        @await Html.PartialAsync("_DeltaAnalysisPartial", deltaAnalysis)
    }
}

@if (Model.HistoryData != null && Model.HistoryData.Any())
{
    <script type="text/javascript">
        function loadHistoryChart() {
            const historyChart = new Chart(
                $('#historyChartCanvas'),
                getHistoryChartConfig('@(Model.GraphType.ToString())', '@(Model.TypeOfData.ToString())')
            );
            historyChart.data.datasets[0].data = eval(@Html.Raw(Model.HistoryJson));
            historyChart.update('none');
        }
    </script>
}
else
{
    <script type="text/javascript">
        function loadHistoryChart() {
            const historyChart = new Chart(
                $('#historyChartCanvas'),
                getHistoryChartConfig()
            );
        }
    </script>
}
