@model IEnumerable<LiveInstallationModel>

@inject IViewLocalizer _localizer;

@{
    ViewData["Title"] = _localizer[Resources.Views.Data.Live.LiveData];
}

@if (!Model.Any())
{
    <div class="d-flex justify-content-center">
        <h2>@_localizer[Resources.Views.Data.Live.NoInstallations]</h2>
    </div>
}

@foreach (LiveInstallationModel installation in Model)
{
    @await Html.PartialAsync("_LiveDataPartial", installation)
}

@section Scripts
{
    @if (Model!.Any())
    {
        <script src="~/lib/stomp.js/stomp.min.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/rabbitmqlistener.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/charter.js" type="text/javascript" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    }
}